@{
    ViewBag.Title = "Home Page";
}


<div class="row" id="app-content">
    <div class="col-md-6">       
        @Html.Partial("LoginPartial", new Software_Engineering_Project.Models.Users())           
    </div>

    <div class="col-md-6">
        @Html.Partial("ViewBookings", new Software_Engineering_Project.Models.Rooms())        
    </div>
        
</div>