@{
    ViewBag.Title = "Home Page";
}


<div class="row" id="app-content">
    <div class="col-md-6">
        @{
            if (Session["user"] == null)
            {
                @Html.Partial("LoginPartial", new Software_Engineering_Project.Models.Users())
            }
            else
            {
                <div class="text-center">
                    <h3>Book A Room</h3>
                    <p>You are still logged in. Head back to your dashboard to book a room.</p>
                    @Html.ActionLink("Return to Dashboard", "GetDashboard", "User", null, new { @class = "btn btn-primary btn-lg"})
                </div>
            }
        }               
    </div>

    <div class="col-md-6">
        @Html.Partial("ViewBookings", new Software_Engineering_Project.Models.Rooms())        
    </div>
        
</div>