<div class="row">
    <div class="col-md-12 text-center">
        <h3>View Bookings</h3>
        <h5>No need to login, simply search for the room you are looking for to see when it is availale.</h5>
        @Html.Partial("RoomQuery")
    </div>   
</div>
