
<div class="row" id="app-content">
    <div class="col-md-5">
        @Html.Partial((String)ViewData["left"], (Software_Engineering_Project.Models.Users)ViewData["left-model"])
    </div>

    <div class="col-md-7">
        @Html.Partial((String)ViewData["right"], (Software_Engineering_Project.Models.Calendar)ViewData["right-model"])
    </div>

</div>




