@model Tuple<Software_Engineering_Project.Models.Rooms, Software_Engineering_Project.Models.Calendar>

@{
    ViewBag.Title = "Book a Room";
}


<div class="row text-center" id="app-content">

    <div class="col-md-12">
        <h2>Find a Room</h2>
        <br />
        @Html.Partial("RoomQuery", Model.Item1)       
    </div>

    <!--
    <div class="col-md-7 text-center">
        <h2>Choose a Date</h2>
        <br />       
        Html.Partial("Calendar", Model.Item2)
    </div>
        -->
</div>