@model Software_Engineering_Project.Models.Calendar

<div class="col-md-12" id="day-schedule">
    <div class="row">
        <div class="text-left col-md-2">
            <h3>
                @using Software_Engineering_Project.App_Code
                @Ajax.RawActionLink(
                    //string.Format("<div class=\"col-md-6\"><span class=\"glyphicon glyphicon-menu-left\"></span></div><div class=\"col-md-6\">" + Model.date.ToString("MMMM") + "</div>"),
                    string.Format("<div class=\"col-md-6\"><span class=\"glyphicon glyphicon-menu-left\"></span>"),
                    "GetCalendar",
                    "Calendar",
                    new { currentCalendarDate = Model.date },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.ReplaceWith,
                        UpdateTargetId = "day-schedule",
                        OnComplete = null
                    }
                )
            </h3>
        </div>
        <div class="text-center col-md-8">
            <h3>@Model.date.ToString("ddd MMMM dd, yyyy")</h3>
        </div>        
        <div class="text-left col-md-2"></div>
    </div>

    @{         
        System.DateTime startTime = new System.DateTime(1, 1, 1, 8, 30, 0);
    }

    @for (int i = 0; i < 9; i++)
    {
        bool found = false;
        if (Model.bookings != null)
        {
            foreach (Software_Engineering_Project.Models.Bookings booking in Model.bookings)
            {
                if (booking.startTime == startTime)
                {
                    found = true;
                }
            }
        }

        if (found)
        {
            <div class="col-md-12 text-center" style="background:red; height:50px;">
                @startTime.ToString("h:mm tt")
            </div>
        }
        else {
            <div class="col-md-12 text-center" style="background:green; height:50px;">
                @startTime.ToString("h:mm tt")
            </div>
        }

        startTime = startTime.AddHours(1.5);
    }
</div>
