@model Tuple<Software_Engineering_Project.Models.Users, Software_Engineering_Project.Models.Calendar>

<div class="row" id="app-content">

    <div class="col-md-5">
        <h2>Faculty Dashboard</h2>
        <h3>Hello @Model.Item1.name</h3>

        <br />

        <div class="row">
            <div class="col-md-12">
                <h4>Current Bookings</h4>
            </div>
            <div class="col-md-3">
                <p>Room Number</p>
            </div>
            <div class="col-md-3">
                <p>Date</p>
            </div>
            <div class="col-md-3">
                <p>Start - End Time</p>
            </div>
            <div class="col-md-3">
                <a class="btn-primary">Release</a>
            </div>
            <div class="col-md-12">
                <p>Description</p>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <a class="btn-primary">Book A Room</a>
            </div>
        </div>

    </div>

    <div class="col-md-7">
        @Html.Partial("Calendar", Model.Item2)
    </div>

</div>
