@model Software_Engineering_Project.Models.Users

<h3>Login To Book</h3>

@{
    using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.email, new { @type = "email", @class="form-control", @id="user-email", @placeholder="Email" })
        <br/>
        @Html.TextBoxFor(m => m.hash, new { @type = "password", @class = "form-control", @id = "user-pass", @placeholder = "Password" })
        <br/>
        <input type="submit" class="btn btn-primary" value="Login" />
    }
}