@helper RenderCalendar(int size)
{
    <div class="container">
        <div class="row">
            
            @for(int i = 0; i < size / 7; i++) { 
                <div class="col-md-4">
                    @for (int j = 0; j < 3 && i * 7 + j < size; j++)
                    {
                        if (j == 0)
                        {
                            <div class="col-md-4"></div>
                        }
                        else
                        {
                            <div class="col-md-4">
                                <div style="background:black; height: 50px"></div>
                            </div>               
                        }
                    }
                </div>
                <div class="col-md-8">
                    @for (int j = 0; j < 6 && i * 7 + j < size; j++)
                    {
                        if (i * 7 + j == size - 1 || j == 5)
                        {
                            <div class="col-md-2"></div>
                        }
                        else
                        {
                            <div class="col-md-2">
                                <div style="background:black; height: 50px"></div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
}